{% extends "base.html" %}

{% block content %}
		<div id="page">
			<div class="cover about">
				<div class="background"><img src="images/cover.jpg" alt="cover" /></div>
				<div class="legend" style="top: 25%;">
					<div class="content text-shadow" style="background: rgba(0, 0, 0, 0.45); padding: 0.25em">
						<h1>Acerca</h1>
						<p >La plataforma de Radiotik facilita a cualquier persona la oportunidad de crear y administrar una estación de radio por internet completamente gratuita.</p>
						<p>Con el control de una radiodifusora es posible lanzárse al aire como artista, fundar una cadena de noticias, ofrecer entrevistas en tiempo real y transmitir cualquier tipo de música y contenidos.</p>
						<p>Radiotik es la plataforma más sencilla de usar y la que más se asemeja a una cabina de radio profesional, con todas sus funcionalidades.
						Su repertorio musical es extenso y legal. La biblioteca de Radiotik brinda a los usuarios la variedad adecuada de canciones para hacer una programación de cualquier género ó estilo, con música de todo tipo y de todo lugar.</p>
						<p>El usuario deberá solamente preocuparse por personalizar su programación y difundir su estación. Radiotik paga a todas aquellas estaciones que alcancen un rating considerable. Esta plataforma se ha encargado de ofrecer las herramientas de programación oportunas, informar sobre la audiencia de cada estación, asegurar la legalidad de los derechos de autor de su repertorio y la transimisión de contenido propio y en tiempo real, con el sólo uso de un micrófono y el ingenio de los usuarios para organizar la mejor programación.</p>
						<p>¡Escucha en Radiotik las mejores estaciones en internet!</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}