		<div id="footer">
			<div class="links float-left">
				<a href="">Terminos y Condiciones</a>
				<a href="">Aviso de Privacidad</a>
				<a href="/about/">Acerca de</a>
				<a href="">Quienes somos</a>
			</div>
			<div class="social float-right">
				<a href=""><img src="{{ MEDIA_URL }}icons/facebook.png"/></a>
				<a href=""><img src="{{ MEDIA_URL }}icons/twitter.png"/></a>
			</div>
			
			<div class="clear-fix">&nbsp;</div>
			
			<div>Radiotik &copy; Todos los derechos reservados.<br/><a href="mailto:hicks@radiotik.com">hicks@radiotik.com</a></div>
		</div>