{% extends "base.html" %}

{% block content %}
		<div id="page">
			<div class="cover about">
				<div class="background"><img src="{{ MEDIA_URL }}cover.jpg" alt="cover" /></div>
				<div class="legend" style="top: 35%; ">
					<div class="content text-shadow" style="line-height: 2em; background: rgba(0, 0, 0, 0.45); padding: 0.75em">
						<h1>¡Gracias por registrarse!</h1>
						<p style="font-size: 1.5em">Nosotros informaremos inmediatamente una vez que la construcción de la plataforma haya concluido.<br/><br/>Mientras tanto, trabajamos para equipar su estación con las mejores herramientas.</p><br/>
						<a class="green button" href="/" style="font-size: 1.5em">Inicio</a>
					</div>
				</div>
				
			</div>
		</div>
{% endblock %}